<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
 <meta http-equiv="Content-type" content="application/xhtml+xml; charset=utf-8" />
 <title>Dwie tabelki obok siebie</title>
 <style type="text/css">
	td {background: #80ff80; padding: 5px;}
	#pierwsza {float: left;}
 </style>
</head>
<body>
<table id="pierwsza">
	<tr><td>komórka 1.1</td><td>komórka 1.2</td></tr>
	<tr><td>komórka 1.3</td><td>komórka 1.4</td></tr>
	<tr><td>komórka 1.5</td><td>komórka 1.6</td></tr>
</table>
<table>
	<tr><td>komórka 2.1</td><td>komórka 2.2</td></tr>
	<tr><td>komórka 2.3</td><td>komórka 2.4</td></tr>
</table>
</body>
</html>