
<div  *ngIf="pageApperarance" class="container">
  <table class="table table-striped">
      <thead>
      <tr>
        <th>Hours</th>
        <select id="ddlViewBy">
          <option  *ngFor="let docTest of doctors">
           {{ docTest.name }}
           {{ docTest.id }}
       </option>
       </select>
      <td>{{availableHoursFromServer[0]}}</td>
      <td>-</td>
      <td>{{availableHoursFromServer[availableHoursFromServer.length-displayDateIterator]}}</td>
      <button class="btn btn-danger" onClick="refreshPage()" (click)="changeTheDisplayHours()"> changeTheDisplayHours</button>
      </thead>
      <button class="back" onClick="refreshPage()" (click)="addVisit(availableHours)"> Back </button>
      <button class="selectedDoctor"  (click)="hoursForSelectedDoctor()"> Hours for selected doctor </button>

      <tbody>
          <tr *ngFor="let availableHours of availableHoursFromServer">
              <td>{{availableHours}}</td>
              <td><button class="btn btn-danger"  (click)="addVisit(availableHours)"> Add visit</button></td>
          </tr>
      </tbody>
  </table>
</div>

  <div  *ngIf="!pageApperarance" class="container">
    
      <div>
        User Name : <input type="text" name="user.name" [(ngModel)]="user.name">
        User Lastname : <input type="text" name="user.lastname" [(ngModel)]="user.lastname">
      </div>
  
      <button  (click)=goToAvaiableHours()   class="confirm">
          Confirm
      </button>
      <button  (click)=availableHours()   class="terms">
        Hours
    </button>
    <div style="background-color:grey;"></div>
    
    </div>
  
