<div  *ngIf="pageApperarance" class="container">
  <table class="table table-striped">
      <thead>
      <tr>
        <th>Terms</th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let availableTerms of availableTermsFromServer">
              <td>{{availableTerms}}</td>
              <td><button class="btn btn-danger" onClick="refreshPage()" (click)="addVisit(availableTerms)"> Add visit</button></td>
              
          </tr>
      </tbody>
  </table>
  
  </div>
  <div  *ngIf="!pageApperarance" class="container">
    
      <div>
        User Name : <input type="text" name="user.name" [(ngModel)]="user.name">
        User Lastname : <input type="text" name="user.lastname" [(ngModel)]="user.lastname">
      </div>
  
      <button  (click)=addVisiWithOut()   class="btn button">
          Make an appointment
      </button>
      
    
    
    
      
    
      <div style="background-color:grey;"></div>
    
    </div>