
.container {
    width: 500px;
    clear: both;
  }
  
  .container input {
    width: 100%;
    clear: both;
  }
  .but {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.button{
  color:white;
  position: absolute;
  top: 160px;
  width:25%;
  margin-left:-2%;
  margin-right:35%;
  background-color: #0d3fca;
}

.deleteApp{
  color:white;
  position: absolute;
  top: 115px;
  width:25%;
  margin-left:-2%;
  margin-right:35%;
  background-color: #ca0d3c;
}

.find{
  color:white;
  width:25%;
  margin-left:75%;
  margin-right:35%;
  background-color: #1dca0d;
}

.find2{
  color:white;
  width:25%;
  margin-left:75%;
  margin-right:35%;
  background-color: #ca290d;
}

.terms{
  color:white;
  position: absolute;
  top: 205px;
  width:25%;
  margin-left:-2%;
  margin-right:35%;
  background-color: #0d3fca;
}

.maa{
  color:white;
  width:35%;
  margin-left:0%;
  margin-right:55%;
  background-color: #0d3fca;
}

.showInf{
  color:white;
  width:35%;
  margin-left:-60%;
  margin-right:55%;
  background-color: #0d3fca;
}