<div class="container">
  
  
  <td><h3>Find user</h3></td>
         Name : <input type="text" name=adminLookingForUser.name [(ngModel)]=adminLookingForUser.name>
    Last name : <input type="text" name=adminLookingForUser.lastname [(ngModel)]=adminLookingForUser.lastname>
    <button  class="btn find" (click)=findUserForAdmin()>FIND</button>
    <button  class="btn find2" (click)=findAllUsersForAdmin()>FIND ALL</button>
  </div>
  <button class="btn terms" (click)="goToTerms(user)">Go to free terms</button>
  <button class="btn button" (click)="goToTerms2(user)">Make an appointment for unregister user</button>
  <button class="btn deleteApp" (click)="appointments()">Delete an appointment</button>
  <div *ngIf="test()">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>nickname</th>
      <th>name</th>
      <th>lastName</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let user of usersArray">
            <td>{{user.nickname}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td><button class="btn maa" (click)="goToTerms(user)">Make an appointment </button></td>
            <td><button class="btn showInf" (click)="goToTerms(user)">Show information </button></td>
            </tr>
            <td></td>
        </tbody>
  </table>
        </div>
        <div *ngIf="!test()">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Date</th>
            <th>User</th>
            <th>Name</th>
            <th>Lastname</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let date of dateOfTheVisitArray">
                  <td>{{date.dateof}}</td>
                  <td>{{date.users.nickname}}</td>
                  <td>{{date.users.name}}</td>
                  <td>{{date.users.lastname}}</td>
                  <button  (click)=deleteAnAppointment(date)  class="btn btn-success" > Delete an appointment </button>
                  </tr>
                  <td></td>
              </tbody>
        </table>
              </div>

      