<div class="container">
    <div>
      Nick name : <input type="text" name="nickname" [(ngModel)]="nickname">
      User Name : <input type="text" name="username" [(ngModel)]="username">
      User Lastname : <input type="text" name="userlastname" [(ngModel)]="userlastname">
      Email : <input type="text" name="email" [(ngModel)]="email">
      Passwordd : <input type="text" name="passwordd" [(ngModel)]="passwordd">
    
    </div>

    <button  (click)=createUser()   class="btn btn-success">
        Register
      </button>
     
  
  
    </div>
  
    <div style="background-color:grey;"></div>
   <!--class="col s8" class="col s2 disabled" do tego nizej-->
